//@theme "/home/fabian/.local/share/rofi/themes/squared-material-red.rasi"
//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
//@theme "/usr/share/rofi/themes/DarkBlue.rasi"
//@theme "/home/fabian/.local/share/rofi/themes/ArcDarkCustom.rasi"
@theme "/usr/share/rofi/themes/gruvbox-dark-soft.rasi"
